<?xml version="1.0" encoding="UTF-8"?>
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/lucky/Downloads/coding/javap/basic">
        <classes>
            <class name="com.sunskblue.basicserver.BasicServerApplicationTests">
                <methods>
                    <include name="contextLoads"/>
                </methods>
            </class>
            <class name="com.sunskblue.basicserver.UserTest">
                <methods>
                    <include name="testcase"/>
                    <include name="testPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>